@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .outline-text {
    -webkit-text-stroke: 2px white;
    color: transparent;
  }
}

html {
  position: relative;
}

body {
  background-color: #09090b;
  color: white;
  overflow-x: hidden;
  position: relative;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #09090b;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
